<% @subscriptions.each do |subscription| %>
  <li>
    <%= subscription.category.name.humanize %>
    <!-- display category name
    display cancel button to subscriptions#destroy-->

  </li>

<% end %>
