<p id="notice"><%= notice %></p>

<% @subscriptions.each do |subscription| %>
  <% if subscription.status == 'active' %>
    <li>
      <%= subscription.category.name.humanize %>
      <% subscription.plans.each do |plan| %>
        <%= plan.name %>
      <% end %>
      <br>
      <%= link_to 'Cancel Subscription', subscription_path(subscription), :method=>:delete %>
      <br></br>
    </li>
  <% end %>


<% end %>
