<p id="notice"><%= notice %></p>

<% @subscriptions.each do |subscription| %>
    <li>
      <%=debug subscription.status %>
      <%= subscription.category.name.humanize %>

      <%= link_to 'Cancel Subscription', subscription_path(subscription), :method=>:delete %>


    </li>


<% end %>
