<div class="products">
  <%= image_tag(product.image_path) %>


  <!-- <%= button_to 'Subscribe', subscription_items_path(product_id: product) %> -->
  <!-- <button>Subscribe</button> -->
  <%= button_to 'Subscribe', new_subscription_path(product_id: product) %>
</div>
